:root {
  --color-fondo: #ffffff;
  --color-texto: #4e342e;       
  --color-texto-secundario: #0e4d32; 

  --color-sidebar: #fce88b;
  --color-boton-principal: rgba(196, 145, 2, 0.3);
  --color-boton-hover: rgba(196, 145, 2, 0.9);
  --color-boton-texto: #1b4332;

  --color-link: #6b8c6e;
  --color-link-hover: #4f7253;

  --color-acento-rosado: #f3e4e4;
  --color-acento-lila: #d8cbe4;
  --color-borde: #c5a880;
}

/* Estilos globales */
body {
  background-color: var(--color-acento-rosado);
  color: var(--color-texto);
  margin: 0;
  padding: 10px 40px 20px 40px;
}

h1, h2, h3, h4, h5 {
  color: var(--color-texto);
  margin: 0;
  font-family: "Alumni Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

p, li {
  color: var(--color-texto-secundario);
}

footer{
  display: flex;
  align-items: center;  
  padding-top: 20px;
  gap: 20px;
}

footer svg{
  background-color: #f0f0f0; /* negro */
  padding: 10px;
  border-radius: 5px;
}

footer svg:hover{
  fill: #0A66C2;
  cursor: pointer;
  
}
/* Estilos globales End*/

/*Galeria*/
.galeria-simple {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin: 0 0;
}

.galeria-simple img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  transition: all ease-in-out 200ms;
}

.galeria-simple img:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.galeria-simple img:nth-child(2){
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: 49%;
  align-self: start;
}

.galeria-simple img:nth-child(3){
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: 49%;
  align-self: end;
}

.galeria-simple img:nth-child(4){
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.galeria-simple img:nth-child(5){
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.galeria-simple img:hover {
  overflow: hidden;
  transform: scale(1.02);
}
/*Galeria End*/

/*Contenido Principal de la página (2 columnas)*/
main{
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: calc(100vh - 80px);
  gap: 25px;
}

/*--COLUMNA Nro_1-- Sección de tarjeta de invitación (2 columnas)*/
.invitation-box {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
}

.col-box-invitation {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

/*--COLUMNA BOX INVITATION Nro_1-- Columa que posee la información de la invitación*/
.col-box-invitation.invitation {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: var(--color-texto);
  z-index: 0;
  padding-top: 25px;
  padding-left: 30px;
  border-radius: 5px 0 0 5px;
  background-color: #f5f3f0;
}
.col-box-invitation.invitation p {
  font-size: 1.4rem;
  color: var(--color-texto-secundario);
  margin-top: 1rem;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.col-box-invitation.invitation .guest-name {
  font-size: 2.7rem;
  font-weight: 600;
  color: var(--color-texto);
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
.col-box-invitation.invitation .date {
  font-size: 1.6rem;
  color: var(--color-texto);
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
.col-box-invitation.invitation .details {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: var(--color-texto-secundario);
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  list-style: none;
  padding: 0;
}
.col-box-invitation.invitation .card{
  flex-grow: 1;
  background-color: #c49102b3;
  border-radius: 5px;
  margin-top: 15px;
  width: 90%;
  padding-inline: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.col-box-invitation.invitation .card button{
  background-color: #4e342e;
  color: white;
  border-radius: 10px;
  padding: 10px;
  font-family: "Marcellus", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  transition: all ease-in-out 200ms;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: none;
  width: auto;
}
.col-box-invitation.invitation .card button:hover{
  background-color: rgba(78, 52, 46, 0.8);
  transform: scale(1.01);
}
.col-box-invitation.invitation .card p, .col-box-invitation.invitation .card span {
  margin: 0;
  font-family: "Marcellus", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
}
/*--COLUMNA BOX INVITATION Nro_1-- Columa que posee la información de la invitación End*/

/*--COLUMNA BOX INVITATION Nro_2-- Columa con una foto de los novios*/
.col-box-invitation.bride-groom-photo{
    border-radius: 0 5px 5px 0;
    margin: 0;
}
.col-box-invitation.bride-groom-photo::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('/nosotros.jpeg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}
/*--COLUMNA BOX INVITATION Nro_2-- Columa con una foto de los novios End*/
/*--COLUMNA Nro_1-- Sección de tarjeta de invitación End*/

/*--COLUMNA Nro_2-- Sección con la información del evento*/
.event{
  display: grid;
  grid-template-columns: 1fr;
  background-color: #f5f3f0;
  border-radius: 7px;
}
.event h2{
  font-size: 1.2rem;
  margin-block: auto;
  font-family: "Charm", cursive;
  font-weight: 700;
  font-style: normal;
  color: var(--color-texto);
}
.countdown {
  font-family: "Alumni Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--color-texto-secundario);
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}
/*--COLUMNA Nro_2-- Sección con la información del evento End*/
/*Contenido Principal de la página End*/

/*Sección de vestimenta*/
.outfit{
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.outfit h1{
  font-size: 3rem;
}
.outfit h2{
  font-size: 2rem;
  color: var(--color-texto-secundario);
}

.outfit button{
  background-color: rgba(14, 77, 50, 0.6);
  color: white;
  font-weight: lighter;
  font-size: medium;
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
  height: fit-content;
  margin: 0;
  transition: all ease-in-out 200ms;
  z-index: 10001;
}

.outfit button:hover{
  background-color: rgba(14, 77, 50, 0.8);
  cursor: pointer;
}
/*Sección de vestimenta End*/

/*Sección de cómo llegar*/
.way{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.way h1{
  font-size: 3rem;
  margin: 0;
}

.way h2{
  font-size: 1.8rem;
  background-color: rgba(78, 52, 46, 0.4);
  border-radius: 10px;
}

.indications{
  display: flex;
  flex-direction: column;
  padding: 60px 0  0 20px ;
}

.indications p{
  font-size: 1.3rem;
}

.indications h2{
  text-align: center;
}

.indications ul{
  font-size: 1.1rem;
}

.indications ul li{
  padding-block: 5px;
}

.indications .show-way{
  padding: 5px 30px;
  font-size: large;
}

.indications .way-option{
  display: flex; 
  gap: 10px;
  align-items: center;
}

.indications a, .way a{
  background-color: rgba(14, 77, 50, 0.6);
  color: white;
  font-weight: lighter;
  font-size: x-large;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  height: fit-content;
  margin: 0;
  transition: all ease-in-out 200ms;
  z-index: 10001;
  text-decoration: none;
}

.indications a:hover, .way a:hover{
  color: white;
  cursor: pointer;
  background-color: rgba(14, 77, 50, 0.8);
}
.indications a:visited, .way a:visited{
  color: white;
}
/*Sección de cómo llegar End*/

/*Sección de hoteles, cabañas y airbnb's*/
.hotel{
  display: grid;
  grid-template-columns: 1fr;
}
.hotel h1{
  font-size: 2rem;
}
.hotels h2{
  font-size: 1.8rem;
  color: var(--color-texto-secundario);
}
.hotel-information{
  display: grid;
  grid-template-columns: 1fr;
}
.hotel-tags{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.hotel-tags button{
  background-color: rgba(14, 77, 50, 0.6);
  color: white;
  font-weight: lighter;
  font-size: medium;
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
  height: fit-content;
  margin: 0;
  transition: all ease-in-out 200ms;
  z-index: 10001;
}
.hotel-tags button:hover{
  background-color: rgba(14, 77, 50, 0.8);
  cursor: pointer;
}
.hotels{
  display: grid;
  grid-template-columns: 1fr;
}
.hotel-cards-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 570px;
  gap: 15px;
}
.hotel-card{
  width: 100%;
  height: 100%;
  background-color: rgba(14, 77, 50, 0.4);
  border-radius: 10px;
}
.hotels span{
  background-color: rgba(196, 145, 2, 1);
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
}
.hotels a{
  background-color: rgba(14, 77, 50, 1);
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
  text-decoration: none;
  transition: all ease 300ms;
}
.hotels a span{
  background-color: transparent;
  border: none;
  padding: 0;
}
.hotels a:hover{
  color: white;
  background-color: rgba(14, 77, 50, 0.7);
}
.hotels a:visited{
  color: white;
}
.hotel-card h3{
  font-size: x-large;
  color: rgb(134, 96, 0);
  text-align: center;
}
.hotel-card-information{
  display: flex;
  align-content: center;
  justify-content: end;
  padding: 5px;
  gap: 5px;
}
.hotels-galery{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 210px 270px;
}
.hotels-galery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hotels-galery img:nth-child(1){
  grid-column: 1;
  grid-row: 1;
}
.hotels-galery img:nth-child(2){
  grid-column: 2;
  grid-row: 1;
}
.hotels-galery img:nth-child(3){
  grid-column: 1 / span 2;
  grid-row: 2;
}
/*Sección de hoteles, cabañas y airbnb's End*/

/*Sección de nuestra historia*/
.history{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 50px;
}

.history h1{
  font-size: 2.5rem;
}

.history p{
  font-size: 1.3rem;
}

.history img{
  margin: 0 auto;
  width: 70%;
  border-radius: 20px;
  object-fit: cover;
}
/*Sección de nuestra historia End*/

/*Barra de navegación*/
nav{
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  height: 60px;
  z-index: 10000;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.navegation{
  display: flex;
  justify-content: center;
  width: fit-content;
  box-sizing: border-box;
  height: 100%;
  z-index: 100000;
  backdrop-filter: blur(10px);
  background-color: rgba(196, 145, 2, 0.6);
  border-radius: 10px 10px 10px 10px;
  gap: 25px;
  padding: 5px 30px 0 30px;
  margin: 0;
  list-style: none;
}
.navegation li{
  flex-direction: column;
  gap: 1px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  font-size: 1.07rem;
  font-family: "Charm", cursive;
  font-weight: 700;
  font-style: normal;
  transition: all ease 0.1s;
}
.navegation li:hover,
.navegation li:active{
  transform: scale(1.03) translateY(-3px);
  background-color: transparent;
  color: #145c3b;
}
.navegation li a{
  text-decoration: none;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-texto-secundario);
}
.navegation li a:visited {
  color: var(--color-texto-secundario);
}
/*Barra de navegación End*/

/*Mobile estilos*/
.mobile{
  display: none;
}
@media (max-width: 768px) {
  main{
      grid-template-columns: 1fr;
  }
  .invitation-box {
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr;
    height: calc(100vh - 220px);
  }
  .col-box-invitation.invitation p {
    margin: 0;
  }
  .col-box-invitation.invitation .details {
    margin: 0;
  }
  .col-box-invitation.bride-groom-photo{
    display: none;
  }
  .col-box-invitation.bride-groom-photo::before{
    display: none;
  }
  nav{
    position: fixed;
    bottom: 40px;
    left: 0;
    top: unset;
  }
  .navegation{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    height: auto;
    row-gap: 5px;
    justify-items: center;
    border-radius: 10px 10px 0 0;
  }
  body {
    margin: 0;
    padding: 10px 20px 60px 20px;
    line-height: 1.6;
  }
  .event{
    margin-top: 5px;
    border-radius: 0 0 5px 5px;
  }
  .outfit{
    margin-top: 420px;
  }
  .way{
    display: grid;
    grid-template-columns: 1fr;
  }
  .mobile{
    display: block;
  }
  .no-mobile{
    display: none;
  }
  .galeria-simple{
    padding-top: 20px;
  }
  .indications{
      padding-top: 10px;
  }
  .history{
    grid-template-columns: 1fr;
    padding-bottom: 20px;
  }
  .hotel-cards-box{
    grid-template-columns: 1fr;
    grid-template-rows: 500px;
    gap: 15px;
  }
  .hotel-tags{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
  }
  .hotel-tags button{
    height:  auto;
  }
  .hotels-galery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 180px;
  }
  .hotels span, .hotels a{
    width: fit-content;
  }
  .hotel-card-information{
    flex-direction: column;
    align-items: end;
  }
  footer{
    padding-bottom: 100px;
  }
}
/*Mobile estilos End*/